.App {
  text-align: center;
  background-image: url('https://c1.wallpaperflare.com/preview/451/968/45/water-pink-background-soothing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sec{
  /* background-image: url('https://cdn3.vectorstock.com/i/1000x1000/84/97/frame-on-vintage-background-with-floral-patterns-vector-9208497.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
width: 99vw;
  min-height: 100vh;
 
}
.container{
  margin-top: 1.6em;
}